:root {
  --off-black: #161420;
  --off-white: #e4e3e9;
  --off-grey: #ececec;
  --grid-bg: #211b30;
  --toolbar-bg: #0b081a;
  --lime: #00cc00;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 20px;
  background-color: #666;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
input[type="range"]:hover {
  background-color: #888;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background: #fff;
  box-shadow: -205px 0 0 200px hsl(100, 100%, 40%);
}

h1,
h2,
h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

button {
  color: var(--off-white);
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1.4rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #413c5f;
}

body {
  font-family: Montserrat, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--off-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  overflow: hidden;
}

section {
  display: flex;
}

// TOPBAR SECTION

#logo {
  width: 2em;
  margin: 1em;
}

.topbar > div {
  display: flex;
  align-items: center;
}

.topbar {
  justify-content: space-around;
  align-items: center;
  background-color: var(--off-black);
}

#author {
  margin-right: 2em;
}
#author span {
  color: var(--lime);
  font-weight: bold;
}

// MAIN

main {
  flex-grow: 1;
  display: flex;
  height: 80%;
}

// TUTORIAL SECTION

.tutorial-container {
  color: var(--off-black);
  overflow-y: scroll;
  flex-direction: column;
  resize: horizontal;
  max-width: 40em;
  height: 100%;
}

.level-label,
.instruction-label {
  background-color: var(--off-grey);
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.level-label i,
.instruction-label i {
  margin: 1em;
}

.level-label h3,
.content h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.content {
  padding: 2em 1em;
}

.content p {
  padding: 1em 0;
}
.level-name,
.instruction h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.main {
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
// TOOLBAR
.toolbar-container {
  display: flex;
  align-items: center;
  background-color: var(--toolbar-bg);
}
// CONTROL
.control-container {
  display: flex;
  align-items: center;
  background-color: var(--off-black);
}
#run {
  font-size: 1.2rem;
  background-color: var(--lime);
  margin: 0;
  padding: 1em 2em;
  font-weight: bold;
  color: white;
  width: 8em;
}
#run.active {
  background-color: red;
}
#run:hover {
  color: var(--off-white);
  filter: brightness(1.1);
}
#speed-label {
  margin: 0 1em;
}

// MAIN
.main{
  filter: brightness(0.5);
  transition: all ease-out
   0.1s;
}
.grid-container {
  background-color: var(--grid-bg);
  flex-grow: 1;
  overflow: hidden;

}
.main:focus-within,
.main:hover {
  filter: brightness(1);
}
