body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

input:focus {
  outline: none;
}

header,
footer {
  color: white;
  width: 100%;
}

.topbar,
.bottombar {
  background: #323130;
}

.blueprints {
  background: #494a4e;
  display: flex;
  align-items: center;
  padding: 0 4em;
}

.topbar,
.bottombar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
label {
  margin: 0 0.4em 0 1em;
}

.settings,
.controls {
  margin: 0 0.4em;
  display: flex;
  align-items: center;
}

#show-border{
  margin-left: 1em;
}

.settings input {
  width: 6em;
}
.author span {
  color: #4caf50;
  font-weight: bold;
}

// TOOLBAR

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #323130;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #323130;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #4caf50;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

//WORLD

main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: flex;
}
#world {
  margin: auto;
  display: block;
}
.row {
  display: inline-flex;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: unset;
  color: white;
  padding: 0.4em 0.6em;
  margin: 0 0.4em;
  cursor: pointer;
}
button:hover {
  color: black;
  background: darkgrey;
}
button:focus {
  outline: none;
}

.side-controls {
  display: flex;
  align-items: center;
}

.side-controls p {
  white-space: nowrap;
  margin-right: 0.4em;
}
button.active {
  color: #4caf50;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: #4caf50;
  cursor: pointer;
}
