:root{
    --pixel-size: 20px;
}
body{
    margin:0;padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

input:focus{
    outline: none;
}

header,footer{
    background: #323130;
    color: white;
    width: 100%;
}
.inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.settings label{
    margin-left: 1em;
}
.settings input{
    width: 6em;
}
.author span{
    font-weight: bold;
}

//WORLD
main{
    width: 100vw;
    overflow: scroll;
    display: flex;
}
#world{
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
}
.row{
    display: inline-flex;
}
.cells{
    min-width:var(--pixel-size);
    width:var(--pixel-size);
    height: var(--pixel-size);
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.cells[isAlive]{
    background: #323130;
}
.cells:hover{
    background: #908e8c;
}

button{
    color: rgb(20,20,20);
    padding: 0.4em 0.6em;
    margin: 0 0.4em;
    cursor: pointer;
}
button:hover{
    color: black;
    background:darkgrey;
}
button:focus{
    outline: none;
}
footer{
    padding: 1em 0;
}