:root{
    --pixel-size: 20px;
}
body{
    margin:0;padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

input:focus{
    outline: none;
}

header,footer{
    background: #323130;
    color: white;
    width: 100%;
}
.inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
label{
    margin: 0 0.4em 0 1em;
}

.settings, .controls{
    margin: 0 0.4em;
    display: flex;
}

.settings input{
    width: 6em;
}
.author span{
    font-weight: bold;
}

//WORLD
main{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
}
#world{
    margin: auto;
    display: inline-flex;
    flex-direction: column;
}
.row{
    display: inline-flex;
}
.cells{
    min-width:var(--pixel-size);
    width:var(--pixel-size);
    height: var(--pixel-size);
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.cells[isAlive]{
    background: #323130;
}
.cells:hover{
    background: #908e8c;
}

button{
    color: rgb(20,20,20);
    padding: 0.4em 0.6em;
    margin: 0 0.4em;
    cursor: pointer;
}
button:hover{
    color: black;
    background:darkgrey;
}
button:focus{
    outline: none;
}
footer{
    padding: 1em 0;
}

.side-controls{
    display: flex;
    align-items: center;
}

.side-controls p{
    white-space: nowrap;
    margin-right: 0.4em;
}


#speed {
    -webkit-appearance: none;
    width: 100%;
    height: 1em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #speed:hover {
    opacity: 1;
  }
  
  #speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    background: #4CAF50;
    cursor: pointer;
  }